
body {
  	background-color: DeepSkyBlue;
  	border-style: ridge;
  	border-radius: 5px;
  	padding: 5px;
  	margin-top: 10px;
  	text-align: center;
  	width: 100%;
  	z-index: -1;
}

fieldset {
	border-style: double;
	margin: auto; 
}

article { 
	font-family: Helvetica;
  	text-transform: capitalize;
}

blockquote {	
	font-family: Helvetica;
  	text-transform: capitalize;
    display: inline-block;
  	vertical-align: text-top;
  	z-index: 1;
  	background-image: url("Flag_of_Greece.svg.png");
}

table {
	padding: 5px;
  	margin-top: 10px;
  	text-align: center;
  	border-style: solid;
  	border-top: 10px solid #808080;
}

ol {
	text-align: center;
}
.header {	
 	font-family: "Times New Roman";
  	text-transform: capitalize;
}

#underline{
	text-decoration: underline;
}

#shadow {
	text-shadow: 2px 2px #ff0000;
}

#overline {
	text-decoration: overline;
}

