
body {
  	background-image: url("Flag_of_Greece.svg.png");
  	border-style: ridge;
  	border-radius: 5px;
  	padding: 5px;
  	margin-top: 10px;
  	text-align: center;
  	width: 100%;
  	z-index: -5;
}

fieldset {
	border-style: double;
	margin: auto; 
	z-index: -4
}

article { 
	font-family: Helvetica;
  	text-transform: capitalize;
  	z-index: -3;

}

blockquote {	
	font-family: Helvetica;
  	text-transform: capitalize;
    display: inline-block;
  	vertical-align: text-top;

}

table {
	padding: 5px;
  	margin-top: 10px;
  	text-align: center;
  	border-style: solid;
  	border-top: 10px solid #808080;
  
}

ol {
	text-align: center;
	
}
.header {	
 	font-family: "Times New Roman";
  	text-transform: capitalize;
}

#underline{
	text-decoration: underline;
}

#shadow {
	text-shadow: 2px 2px #ff0000;
}

#overline {
	text-decoration: overline;
}

